* {
    box-sizing: border-box;
  }

body{
    margin: 100px;
    background-color: #FFF7D4;
    font-family: 'DM Sans', sans-serif;
    color: #4C3D3D;
}

/*    font-family: 'Alex Brush', cursive; */

.bakeryBlock{
    /*display: flex; */
    margin-bottom: 16px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
}

.bakeryName{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 16px;
    padding-bottom: 8px;
}

.pictureBakery{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;

}

.description{
    display: none;
}

.pictureStars{
    text-align: center;
}

#advertising{
    align-items: center;
}
.filterDiv {
    display: none;
}
.show {
    display: block;
}